@media (min-width: 1024px) {
    .header-container{
        background: black;
    }

    /*메인 사진 스타일*/
    .photo-container{
        position: relative;
        width: 100%;
        height: 200px;
        overflow:hidden;
        margin:0 auto;
        z-index: -1;
        display: flex;
        justify-content: center;
    }
    /*메인 사진*/
    .photo-main{
        width:100%;
        height:100%;
        object-fit:cover;
    }

    .aboutUs-box1{
        width: 100%;
        height: 100px;
        color: white;
        position: absolute;
        top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .aboutUs-box1-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 900px;
        height: 100%;
    }

    .aboutUs-box1-content-h1{
        font-size: 40px;
    }

    .aboutUs-box1-content-div{
        font-size: 20px;
    }

    /*공통 제목*/
    /*인사말*/
    .aboutUs-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        border-bottom: 1px solid #ddd;
        font-size: 30px;
        font-weight: 800;
    }

    .aboutUs-box2{
        height: 100px;
        width: 800px;
        display: flex;
        align-items: center;
    }

    /*로그인 페이지*/
    .loginContainer{
        width: 100%;
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .loginBox{
        width: 800px;
        height: 543px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .loginLogo{
        width: 200px;
    }

    .loginCheckContainer{
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        font-size: 15px;
        color: #7e7e7e;
    }

    .loginCheckbox{
        display: flex;
        align-items: end;

    }

    .loginInputBox{
        width: 400px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        border-radius: 3px;
    }

    .loginbuttonBox{
        width: 300px;
        height: 50px;
        border: none;
        color: white;
        font-weight: bold;
        background: #4876EF;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        
    }
    .loginCheck{
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border: 1px solid #ddd;
    }
    .loginInput{
        border: 1px solid #ddd;
        width: 300px;
        height: 100%;
        padding: 5px;
    }

    .loginBoxTitle{
        width: 250px;
        height: 100px;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top: 2px solid #4876EF;
    }
}  

@media (max-width: 1023px) {

    /*메인 사진 스타일*/
    .photo-container{
        position: relative;
        width: 100%;
        height: 200px;
        overflow:hidden;
        margin:0 auto;
        z-index: -1;
        display: flex;
        justify-content: center;
    }
    /*메인 사진*/
    .photo-main{
        width:100%;
        height:100%;
        object-fit:cover;
    }

    .aboutUs-box1{
        width: 100%;
        height: 100px;
        color: white;
        position: absolute;
        top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .aboutUs-box1-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 900px;
        height: 100%;
    }

    .aboutUs-box1-content-h1{
        font-size: 40px;
    }

    .aboutUs-box1-content-div{
        font-size: 20px;
    }

    /*공통 제목*/
    /*인사말*/
    .aboutUs-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        border-bottom: 1px solid #ddd;
        font-size: 30px;
        font-weight: 800;
    }

    .aboutUs-box2{
        height: 100px;
        width: 800px;
        display: flex;
        align-items: center;
    }

    /*로그인 페이지*/
    .loginContainer{
        width: 100%;
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .loginBox{
        width: 800px;
        height: 543px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .loginLogo{
        width: 200px;
    }

    .loginCheckContainer{
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        font-size: 15px;
        color: #7e7e7e;
    }

    .loginCheckbox{
        display: flex;
        align-items: end;

    }

    .loginInputBox{
        width: 400px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        border-radius: 3px;
    }

    .loginbuttonBox{
        width: 300px;
        height: 50px;
        border: none;
        color: white;
        font-weight: bold;
        background: #4876EF;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        
    }
    .loginCheck{
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border: 1px solid #ddd;
    }
    .loginInput{
        border: 1px solid #ddd;
        width: 300px;
        height: 100%;
        padding: 5px;
    }

    .loginBoxTitle{
        width: 250px;
        height: 100px;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top: 2px solid #4876EF;
    }
}  
@media (max-width: 540px) {

    /*메인 사진 스타일*/
    .photo-container{
        position: relative;
        width: 100%;
        height: 100px;
        overflow:hidden;
        margin:0 auto;
        z-index: -1;
        display: flex;
        justify-content: center;
    }
    /*메인 사진*/
    .photo-main{
        width:100%;
        height:100%;
        object-fit:cover;
    }

    .aboutUs-box1{
        width: 100%;
        height: 50px;
        color: white;
        position: absolute;
        top: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .aboutUs-box1-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 75%;
        height: 50px;
    }

    .aboutUs-box1-content-h1{
        font-size: 40px;
    }

    .aboutUs-box1-content-div{
        font-size: 14px;
    }

    /*공통 제목*/
    /*인사말*/
    .aboutUs-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        border-bottom: 1px solid #ddd;
        font-size: 20px;
        font-weight: 800;
    }

    .aboutUs-box2{
        height: 50px;
        width: 800px;
        display: flex;
        align-items: center;
    }

    .aboutUs-content{
        height: 50px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*로그인 페이지*/
    .loginContainer{
        width: 100%;
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .loginBox{
        width: 100%;
        height: 543px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .loginLogo{
        width: 200px;
    }

    .loginCheckContainer{
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        font-size: 15px;
        color: #7e7e7e;
    }

    .loginCheckbox{
        display: flex;
        align-items: end;

    }

    .loginInputBox{
        width: 350px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        border-radius: 3px;
    }

    .loginbuttonBox{
        width: 300px;
        height: 50px;
        border: none;
        color: white;
        font-weight: bold;
        background: #4876EF;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        
    }
    .loginCheck{
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border: 1px solid #ddd;
    }
    .loginInput{
        border: 1px solid #ddd;
        width: 300px;
        height: 100%;
        padding: 5px;
    }

    .loginBoxTitle{
        width: 250px;
        height: 100px;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-top: 2px solid #4876EF;
    }
}  