<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" >
    <title>footer</title>
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
</head>
<body>
<!--소개-->
<div class="footer-container">
    <div class="footer-info-box">
        <ul class="footer-info">
            <li class="footer-info1">
                파인코리아
            </li>
            <li class="footer-info2">
                대표: 허정현 | 주소: 경기도 광주시 퇴촌면 갈올길 41-14, a동 402호(프라하) | 전화: 031-798-7310, 010-8707-4085
            </li>
            <li class="footer-info2">
                메일: hjungcwoo@naver.com | 사업자등록번호: 309-21-03855 | 전자상거래업신고: 신고
            </li>
            <li class="footer-info3">
                Copyrignt 2024. FineKorea. all rights reserved.
            </li>
        </ul>

    </div>
</div>
</body>
</html>